[submodule "ta-wa-backend"]
	path = ta-wa-backend
	url = https://github.com/miskillstech/ta-wa-backend.git
[submodule "ta-ss-api"]
	path = ta-ss-api
	url = https://github.com/miskillstech/ta-ss-api.git
[submodule "ta-ma-pt-frontend"]
	path = ta-ma-pt-frontend
	url = https://github.com/miskillstech/ta-ma-pt-frontend.git
[submodule "ta-wa-dr-frontend"]
	path = ta-wa-dr-frontend
	url = https://github.com/miskillstech/ta-wa-dr-frontend.git
